<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site.css" type="text/css" media="screen,print" charset="utf-8" />
    <script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript" language="en" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/jquery.colorbox-min.js" type="text/javascript" language="en" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/modernizr.min.js" type="text/javascript" language="en" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/site.js" type="text/javascript" language="en" charset="utf-8"></script>

    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico" />

    <title>UIForms</title>
    
</head>
<body id="site">
    {% ifnotequal request.REQUEST.showNav 'false' %}
        {% include "nav.html" %}
    {% endifnotequal %}

    <div id="wrapper">
    {% block content %}

    {% endblock %}
    </div>
</body>
</html>

