
{% extends "base.html" %}

{% block content %}

<h2 id="section-title">List of UIForms</h2>

{% for uiform in uiform_list %}
    <div class="uiform">
        <a class="uiform-title" href="{% url update_uiform uiform.slug %}">
            <h3>{{ uiform.label }}</h3>
        </a>
        <p class="uiform-description">{{ uiform.description }}</p>
        <p class="username">{{ uiform.user.username }}</p>

        <a class="uiform-action" href="{% url update_uiform uiform.slug %}">Edit this UIForm</a>
        <a class="uiform-action action-unsafe" href="{% url delete_uiform uiform.slug %}">Delete this UIForm</a>
        <a class="uiform-action action-safe" href="{% url preview_uiform uiform.slug %}">Preview this UIForm</a>
    </div>
{% endfor %}


{% endblock %}


