{% extends "base.html" %}

{% block content %}

<h2 id="section-title">{{ uiform.label }}</h2>

<div class="create-update-form">
    <h3>{{ uiform.label }}</h3>
    <p>{{ uiform.description }}</p>

    {% for uifield in uiform.uifield_set.all %}
        <p>
            <label>{{ uifield.label }}</label>
            {% ifequal uifield.kind 'B' %}
                <input type="checkbox" />
            {% else %}
                <input type="text" />
            {% endifequal %}
        </p>

    {% endfor %}

    <button type="submit" name="submit">Submit</button>
</div>

{% endblock %}


