
{% extends "base.html" %}

{% block content %}

<h2 id="section-title">Build your UIForm</h2>

{% if form %}
<form action="{% url update_uiform uiform.slug %}" method="post">
    {% csrf_token %}
    <h3>Update "{{ uiform.label }}"</h3>

    {{ form.as_p }}

    <button type="submit" name="create">Update UIForm</button>
    <a class="preview-link" href="{% url preview_uiform uiform.slug %}">Preview UIForm</a>
</form>
{% endif %}

<form action="{% url update_uifields uiform.slug %}" method="POST">
    {% csrf_token %}

    {% if formset.initial_form_count %}
    <h3>Update Existing Fields</h3>
    {% endif %}

    {{ formset.management_form }}

        {% for form in formset.forms %}

            {% if form.empty_permitted %}
                <h3>Create a new field</h3>
            {% endif %}

            <div class="uifield">
                {{ form.as_p }}
            </div>

        {% endfor %}

        <button type="submit" name="update">Update Fields</button>
        <a class="preview-link" href="{% url preview_uiform uiform.slug %}">Preview UIForm</a>
</form>

{% endblock %}

